ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li{
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    background-color: black;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 5px;
}

#canvas{
    left: 50%;
    margin-top: 2px;
    margin-left: -250px;
    position: absolute;
    border-color: black;
    border: solid 5px;
}


#red{
	background-color: red;
	border: solid 2px;
}

#blue{
	background-color: blue;
	border: solid 2px;
}
#green{
	background-color: green;
	border: solid 2px;
}
#yellow{
	background-color: yellow;
	border: solid 2px;
}
#magenta{
	background-color: magenta;
	border: solid 2px;
}
#black{
	background-color: black;
	border: solid 2px;
}
#white{
	background-color: white;
	border: solid 2px;
}
#olive{
	background-color: olive;
	border: solid 2px;
}
#maroon{
	background-color: maroon;
	border: solid 2px;
}
#lime{
	background-color: lime;
	border: solid 2px;
}


